
<section class="session ">
    <div class="container">
        <h3 class="title has-text-centered is-size-4 popular-movies">Popular Movies </h3>
          <div class="columns mt-5 is-8 is-multiline is-mobile">
              {{!-- {{#each_upto movies as |movie| }} --}}
               {{#each_upto movies 0 4 }}
    
          <div class="column is-4-tablet is-3-desktop">
            <div class="card">
                <div class="card-image has-text-centered px-6 image-space">
                    <img src="./images/{{filename}}" alt="">
                </div>
                <div class="card-content">
                    <p>{{{get_icon bark_score}}}</p>
                    <p class="title is-size-5">{{title}}</p>
                    </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <a href="/movie/{{movie_id}}" class="has-text-grey">View</a>
                    </p>
                </footer>
            </div>
        </div>

         {{/each_upto}}
      </div>
    </div>
</section> 

<aside class="menu">
  <p class="menu-label popular-movies">
    BEST SERIES ON NETFLIX
  </p>
  <ul class="menu-list box box-custom">
    {{#each_upto movies 4 8}}
    <li>
        
      <a class="is-inline">{{title}}</a>
      <p class="is-inline is-right-list ">{{bark_score}}%</p>
  </li>
  {{/each_upto}}
    
  </ul>
  <p class="menu-label popular-movies">
      POPULAR IN THEATERS
    </p>
    <ul class="menu-list box box-custom">
        {{#each_upto movies 8 12}}
      <li>
        <a class="is-inline">{{title}}</a>
        <p class="is-inline is-right-list">{{bark_score}}%</p>
    </li>
            {{/each_upto}}
    </ul>
    
</aside>

<section class="session scrolling-wrapper">
  <div class="container">
      <h3 class="title has-text-centered is-size-4 popular-movies">New Movies This Week </h3>
        <div class="columns mt-5 is-8 is-multiline is-mobile">
            {{#each_upto movies 12 16}}
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
              <div class="card-image has-text-centered px-6">
                  <img src="./images/{{filename}}" alt="">
              </div>
              <div class="card-content">
                  <p>{{{get_icon bark_score}}}</p>
                  <p class="title is-size-5">{{title}}</p>
              </div>
              <footer class="card-footer">
                  <p class="card-footer-item">
                      <a href="/movie/{{movie_id}}" class="has-text-grey">View</a>
                  </p>
              </footer>
          </div>
      </div>
 {{/each_upto}}
          </div>
      </div>