<section class="session">
    <div class="container">
        <h3 class="title has-text-centered is-size-4">Popular Movies </h3>
        {{#each movies as |movie|}}
          <div class="columns mt-5 is-8 is-multiline is-mobile">
          <div class="column is-4-tablet is-3-desktop">
            <div class="card">
                <div class="card-image has-text-centered px-6">
                    <img src="./images/{{filename}}" alt="">
                </div>
                <div class="card-content">
                    <p>{{get_icon 80}}</p>
                    <p class="title is-size-5">{{title}}</p>
                    
                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <a href="" class="has-text-grey">View</a>
                    </p>
                </footer>
            </div>
        </div>
      </div>
      {{/each}}
    </div>
</section>

<aside class="menu">
  <p class="menu-label">
    BEST SERIES ON NETFLIX
  </p>
  <ul class="menu-list">
    {{#each movies as |movie|}}
    <li>
        
      <a class="is-inline">{{title}}</a>
      <p class="is-inline is-right-list">{{{get_icon}}}</p>
  </li>
  {{/each}}
    
  </ul>
  <p class="menu-label">
      POPULAR IN THEATERS
    </p>
    <ul class="menu-list">
        {{#each movies as |movie|}}
      <li>
        <a class="is-inline">{{title}}</a>
        <p class="is-inline is-right-list">{{{get_icon}}}</p>
    </li>
            {{/each}}
    </ul>
    
</aside>

<section class="session scrolling-wrapper">
  <div class="container">
      <h3 class="title has-text-centered is-size-4">New Movies This Week </h3>
      {{#each movies as |movie|}}
        <div class="columns mt-5 is-8 is-multiline is-mobile">
        <div class="column is-4-tablet is-3-desktop">
          <div class="card">
              <div class="card-image has-text-centered px-6">
                  <img src="./images/{{filename}}" alt="">
              </div>
              <div class="card-content">
                  <p>{{{get_icon}}}</p>
                  <p class="title is-size-5">{{title}}</p>
              </div>
              <footer class="card-footer">
                  <p class="card-footer-item">
                      <a href="" class="has-text-grey">View</a>
                  </p>
              </footer>
          </div>
      </div>
      {{/each}}
          </div>
      </div>