<div class="text-center">
  <h2>{{title}}</h2>
  <p>Bark Score: {{bark_score}} {{{get_icon(bark_score)}}}</p>
  <p>Director: {{director}}</p>
  <p>Cast: {{ cast }}</p>
  {{#each reviews as |review| }}
    <div class="row mb-4">
    <div class="col-md-5">
        <h2>
        <a href="/movies/{{movie.movie_id}}">{{movie.title}}</a>
        </h2>
        <h2>
        Bark Score: {{review.bark_score}}
        {{{get_icon(review.bark_score)}}} 
        </h2>
        <p>
        {{review.comment}}
        </p>
    </div>
    </div>
    {{/each}}
  <p></p>
</div>
