<div class="card">
  <div class="card-content">
<div class="content">
<div class="text-center has-text-centered">
  <h2>{{movie.title}}</h2>
  {{!-- <img src="./images/{{movie.filename}}" alt=""> --}}
  <div class="card-image has-text-centered px-6 image-space image-review">
                    <img src="./images/{{movie.filename}}" alt="">
                </div>
  <p class="review-info"> {{{get_icon movie.bark_score}}} </p>
  <p class="review-info">Director: {{movie.director}}</p>
  <p class="review-info">Cast: {{ movie.cast }}</p>
  <div id="movieID" value="{{movie.movie_id}}"></div>
  {{!-- <div class="field">
    <p class="control">
      <textarea class="textarea" placeholder="Add a review..." id="comment"></textarea>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <textarea class="textarea" placeholder="bark score" id="score"></textarea>
    </p>
  </div>
  <nav class="level">
    <div class="level-center">
      <div class="level-item ">
        <button class="button is-info" id="new_review">Post Review</button>
      </div>
    </div>
  </nav>
</div>
  {{#each reviews as |review| }}
    <div class="row mb-4">
    <div class="col-md-5">
        <h2>
        Bark Score: {{review.bark_score}}
        {{{get_icon review.bark_score }}} 
        </h2>
        <p>
        {{review.comment}}
        </p>
    </div>
    </div>
  {{/each}}
</div>
  </div>
</div> --}}

{{#each reviews as |review|}}
<article class="media review-card">
  <figure class="media-left img-mid">
    <p class="image is-64x64">
      <img src="/images/dog-avatar.webp">
    </p>
  </figure>
    <div class="content text-mid">
      <p class="review-bark">Bark Score: {{{get_icon review.bark_score}}}</p>
      <p class="review-text">
        {{review.comment}}
      </p>
    </div>
</article>
{{/each}}
  
  
<section>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="/images/dog-avatar-2.webp">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <input type="hidden" name="movie-id" value="{{movie_id}}" />

      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..." id="comment" name="comment"></textarea>
      </p>
    </div>
    <div class="field">
    <p class="control">
      <textarea class="textarea" placeholder="bark score" id="score" name="score"></textarea>
    </p>
  </div>
    <div class="field">
      <p class="control">
        <button class="button" id="new_review">Post comment</button>
      </p>
    </div>
  </div>
</article>
</section>


<script src="./js/movie.js"></script>
