<div class="text-center">
  <h2>{{title}}</h2>
  <p>Bark Score: {{bark_score}} {{{get_icon bark_score}}}</p>
  <p>Director: {{director}}</p>
  <p>Cast: {{ cast }}</p>
  <div id="movieID">{{movie_id}}</div>
  {{!-- <div class="field">
    <p class="control">
      <textarea class="textarea" placeholder="Add a review..." id="comment"></textarea>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <textarea class="textarea" placeholder="bark score" id="score"></textarea>
    </p>
  </div>
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <button class="button is-info" id="new_review">Post Review</button>
      </div>
    </div>
  </nav>
</div> --}}
  {{#each reviews as |review| }}
    <div class="row mb-4">
    <div class="col-md-5">
        <h2>
        Bark Score: {{review.bark_score}}
        {{{get_icon review.bark_score }}} 
        </h2>
        <p>
        {{review.comment}}
        </p>
    </div>
    </div>
  {{/each}}
</div>

<script src="./js/movie.js"></script>
