<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">

  {{#if reviews.length}}
  <div class="col-md-6 project-list">
    <h3>Current Review:</h3>

    {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/review/{{review.review_id}}">{{movie_id}} : {{score}} </a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.review_id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
