{{!-- <h1 class="welcome-profile">Welcome {{user.username}}</h1> --}}
<h3 class="reviews-history">Reviews History </h3>
{{!-- <div class="row mt-4">

  {{#if reviews.length}}
  <div class="col-md-6 project-list">
    <h3>Current Review:</h3>

    {{#each reviews as |review|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/review/{{review.review_id}}">{{movie_id}} : {{score}} </a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{review.review_id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div> --}}
{{#each reviews as |review|}}
 <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
          <article class="tile is-child box">
                <p><a href="/review/{{review.review_id}}">{{review.movie_id}}: {{review.score}}</a></p>
                <p class="title is-size-5">{{review.title}}</p>
                <p class="control">
                    <button class="button is-danger" data-id="{{review.review_id}}">
                      Delete post
                    </button>
                  </p>
          </article>
        </div>
  </div>
{{/each}}
{{!-- 
<script src="./js/profile.js"></script> --}}
