      <figure class="image is-128x128 review-image">
        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg">
        <p class="title-review" id="movie_title">{{title}}</p>
        <p class="description">{{director}}</p>
        <p class="description">{{cast}}</p>
      </figure>

        <article class="media review">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="/public/images/dog-avatar.webp">
              </p>
            </figure>
            <!--
            <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{reviewerData.name}}</strong>
                    <br>
                    {{reviewerData.review_text}}
                    <br>
                  </p>
                </div> 

            <div class="media-content">

              <div class="control review-choice">
                <label class="radio">
                    <input type="radio" name="rsvp">
                    <figure class="image is-64x64">
                        <img src="/public/images/angrydog.jpg">
                      </figure>
                </label>
                <label class="radio">
                  <input type="radio" name="rsvp">
                  <figure class="image is-64x64">
                    <img src="/public/images/okdog.jpg">
                  </figure>
                </label>
                <label class="radio">
                  <input type="radio" name="rsvp">
                  <figure class="image is-64x64">
                    <img src="/public/images/happydog.jpg">
                  </figure>

                </label>
              </div>
              -->
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="Add a review..." id="comment"></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="bark score" id="score"></textarea>
                </p>
              </div>
              <nav class="level">
                <div class="level-left">
                  <div class="level-item">
                    <button class="button is-info" id="new_review">Post Review</button>
                  </div>
                </div>
              </nav>
            </div>
          </article>

          <script src="../public/js/review.js"></script>
